<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="primerForm">
    <form [formGroup]="primerForm">
      <div align="center" style="font-size: large">
        <p class="title">Crear Tutor Empresarial</p>
      </div>
      <mat-card class="example-card">
        <mat-card-content>
          <mat-divider></mat-divider>
          <br>
          <table>
            <tr style="margin-top: 0px">
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Cedula</mat-label>
                  <input matInput type="text" formControlName="cedula" placeholder="Cedula del Tutor"   [(ngModel)]="tutorEmpresarial.cedula">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Nombres</mat-label>
                  <input matInput type="text" formControlName="nombres" placeholder="Nombres Completos"   [(ngModel)]="tutorEmpresarial.nombres">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Apellidos</mat-label>
                  <input matInput type="text" formControlName="apellidos" placeholder="Apellidos Completos"   [(ngModel)]="tutorEmpresarial.apellidos">
                </mat-form-field>
              </td>
            </tr>

            <tr style="margin-top: 0px">
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Titulo</mat-label>
                  <input matInput type="text" formControlName="titulo" placeholder="Titulo Academico del Tutor"   [(ngModel)]="tutorEmpresarial.titulo">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Correo</mat-label>
                  <input matInput type="email" formControlName="correo" placeholder="Correo del Tutor"   [(ngModel)]="tutorEmpresarial.correo">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Clave de Acceso</mat-label>
                  <input matInput type="password" formControlName="clave" placeholder="Clave de Acceso"   [(ngModel)]="tutorEmpresarial.clave">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </mat-card-content>
        <button style="width: 40%" mat-raised-button matStepperNext color="primary">Next</button>
      </mat-card>
    </form>
  </mat-step>
  <mat-card class="example-card">

  </mat-card>
  <mat-step [stepControl]="segundoForm">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <table>
        <th style="padding: 5px">
          <strong>INFORMACIÓN DEL TUTOR</strong>
        </th>
        <th style="padding: 5px">-</th>
        <tr>
          <td style="padding: 5px">
            <strong>Cédula: </strong> {{tutorEmpresarial.cedula}}<br>
            <strong>Nombres: </strong> {{tutorEmpresarial.nombres}}<br>
            <strong>Apellidos: </strong>{{tutorEmpresarial.apellidos}}<br>
            <strong>Correo:</strong>{{tutorEmpresarial.correo}}<br>
            <strong>Clave: </strong>{{tutorEmpresarial.clave}}<br>
          </td>
        </tr>
      </table>
      <button style="width: 40%" mat-raised-button matStepperNext color="primary" (click)="crearTutor()" >Guardar</button>
    </mat-card-content>
  </mat-step>
</mat-stepper>
