<div *ngIf="issloading==false">

  <div align="center">
    <mat-card-title>Actas de Reunion (A7)</mat-card-title>
    <mat-form-field appearance="outline" style="width: 80%">
      <mat-label>BUSCAR </mat-label>
      <input matInput   placeholder="FILTRAR" [formControl]="myControl">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>


  <br>
  <div  *ngIf="isexist">
    <div *ngFor="let anexo7 of filteredOptions | async">
      <mat-card class="example-card">

        <mat-card-content>
          <table>
            <tr aria-colspan="3">
              <td colspan="2">
                <strong>Carrera:</strong>  {{anexo7.carrera}}<br>
                <strong>Tutor Academico:</strong>  {{anexo7.nombreTutoracademico}}<br>
                <strong>Tutor Empresarial:</strong>  {{anexo7.nombreTutorEmp}}<br>
                <strong>Fecha de Reunion:</strong>  {{anexo7.fechaReunion | date:"longDate"}}<br>
                <strong>Estudiante:</strong>   {{anexo7.nombreEstudiante}}
              </td>
              <td colspan="1">
                <div align="center">
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Ver cronograma
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let cronograma of anexo7.cronogramaActividadesAnexo7s"> <strong>Actividad:</strong> {{cronograma.actividadRealizar}} <strong># Semana</strong>  {{cronograma.semanas}} <strong>#Horas</strong> {{cronograma.nrohoras}}</div>
                  </mat-expansion-panel>
                </div>

              </td>
            </tr>
          </table>


          <mat-divider></mat-divider>
          <br>
          <div align="center">
            <button style="width: 30%" mat-raised-button color="primary" (click)="convertFile(anexo7.documento)">DESCARGAR DOCUMENTO</button>
            <button style="width: 30%" mat-raised-button color="accent" style="margin-left: 5px" (click)="update(anexo7)">SUBIR DOCUMENTO</button>
          </div>
          </mat-card-content>


      </mat-card>
    </div>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>No tiene anexos</mat-card-title>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>
