<div *ngIf="issloading==false">
  <div align="center">
    <mat-card-title>Consultar Cronograma de Actividades (A8.1)</mat-card-title>
    <mat-form-field appearance="legacy" style="width: 70%" >
      <mat-label style="color: #020000">Consultar</mat-label>
      <input matInput  placeholder="Buscar" [formControl]="myControl">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <br>
    <div *ngFor="let anexo11 of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Empresa: {{anexo11.empresa}}</mat-card-title>

        </mat-card-header>
        <mat-card-content>


          <table class="table-borderless">
            <th colspan="1"></th>
            <th colspan="1"></th>
            <th style="background: #455a64;color: white" colspan="1">Informacion</th>
            <th colspan="1"></th>
            <th style="background: #455a64;color: white" colspan="2">Documento</th>
            <th colspan="1"></th>
            <tr aria-colspan="7">
              <td colspan="1" style="background: #455a64;color: white">
              </td>
              <td colspan="1">
                <p style="color: white">--------</p>
              </td>
              <td colspan="1">
                <strong>Carrera:</strong> {{anexo11.siglascarrera}}<br>
                <strong>Representante Legal de la empresa:</strong> {{anexo11.representanteLegal}}<br>
                <strong>Cedula del Estudiante:</strong> {{anexo11.cedulaest}}<br>
                <strong>Nombres del Estudiante: </strong>{{anexo11.nombreest}}<br>

              </td>
              <td colspan="1">
                <p style="color: white">--------
                </p>
              </td>
              <td colspan="2">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Visualizar
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <mat-divider></mat-divider>
                  <div align="center">
                    <button style="width: 50%;margin-top: 2px" mat-raised-button color="primary" (click)="getSafeUrl(anexo11.documento)"><mat-icon>preview</mat-icon>Visualizar Documento</button>
                    <button style="width: 50%;margin-top: 2px;background: #ffc200" mat-raised-button (click)="convertFile(anexo11.documento)"><mat-icon>file_download</mat-icon>Descargar</button>
                    <iframe [src]="safeUrl" style="width: 100%; height: 300px; border: none"></iframe>
                  </div>

                </mat-expansion-panel>

              </td>
              <td  colspan="1" style="margin-left: 20px;margin-bottom: 50px">
              </td>
            </tr>
          </table>


        </mat-card-content>


      </mat-card>
    </div>

</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </center>
  </div>
</ng-container>

