.bst-section{
  display: grid;
  position: absolute;
  grid-template-rows: 60px auto 50px;
  width: 100%;
  height: 100%;
  min-height: 500px;
}
.bst-footer{
}

.mat-bar{
  color: #0e0000;
  background-color: #fbc02d;
  height: 100%;
  border: 1px solid #00080e;
}
.example-spacer {
  flex: 1 1 auto;
}
.imagem-mat{
  border: 5px solid #ffffff;
  border-radius: 100%;
  width:95px;
  height:95px;
  background-size: cover;
  margin: 0 auto;
}
.example-sidenav-content {
  padding: 20px 10px;
  border-top: 3px solid #fbc02d;
}
.example-sidenav {
  color: white;
  background: #455a64;
  padding-top: 15px;
  width: 280px;
}
.bss-loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
.contenedor-perfil{
  text-align: center;
}
.id-menus{
  margin-top: 5px;
  width: 100%;
  white-space:normal;
  color: #b8ccd2;
  border: 1px solid #455a64;
  border-inline: 5px solid #455a64;
  writing-mode: horizontal-tb;
  text-align: start;
}

.id-menus:hover {
  color: #ffc200;
  cursor: pointer;
  background: #043e6e;
}
.list-group{
  padding-left: 1.5px;
}

mat-expansion-panel-header{
  height: auto;
  min-height: 60px;
}

