

<section class="bst-section">

  <mat-toolbar class="mat-bar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="drawer.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <img src="/assets/images/logooo.png" alt="10px" height="50px">
    <span class="example-spacer"></span>
    <button mat-icon-button class="material-icons teal-color" aria-label="Example icon-button with heart icon" (click)="logout()">
      <mat-icon>settings_power</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container autosize style="background:  #E4EFF3">
    <mat-drawer #drawer class="example-sidenav"  opened="true" mode="side">
      <div class="contenedor-perfil">
        <div class="imagem-mat" style="background-image:url({{persona.urlFoto}})" referrerpolicy="no-referrer"></div>
        <div>
          <h4>{{rolnombre}}</h4>
          <h4>{{persona.nombrescompletos}}</h4>
          <br>
        </div>
      </div>

      <ng-container>

        <div [ngSwitch]="persona.rol">
 <!--Admin-->
          <div class="list-group" *ngSwitchCase="'AUT'">
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/cordinadorvinculacion']"
                      routerLinkActive="active">> Asignar Coordinador Vinculación</button>
            <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo1',persona.cedula,persona.nombrescompletos]"
                    routerLinkActive="active">> Anexo 1 plantilla</button>
          </div>
<!--Cordinado de VC-->
          <div class="list-group" *ngSwitchCase="'CV'">
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/crearempresa',persona.id]"
                      routerLinkActive="active">> Registrar empresas</button>
            <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/verempresa']"
                    routerLinkActive="active">> Informe de empresas</button>
          </div>


<!--Cordinado de Carrera-->
          <div class="list-group" *ngSwitchCase="'CC'">

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/nuevoresponsableppp',persona.cedula]"
                      routerLinkActive="active">> Asignar Reposable de Practicas</button>

          </div>

<!--Tutor academico-->
          <div class="list-group" *ngSwitchCase="'DA'">


              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo6consultatutoracademico',persona.cedula]"
                      routerLinkActive="active">- Consultar Notificación designación (A6)</button>
            <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo81listartutoracademico',persona.cedula]"
                    routerLinkActive="active">- Notificacion de Cronograma de Actividades (8.1)</button>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo9tutoracademico']"
                      routerLinkActive="active">- Consulta Registro de asistencia de estudiantes(A9)</button>

            <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo10',persona.id,persona.cedula,persona.nombrescompletos]"
                    routerLinkActive="active">- Seguimiento a Cronograma(A10)</button>
            <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo10listartutoracademico',persona.cedula,persona.nombrescompletos]"
                    routerLinkActive="active">- Ver Seguimientos Cronograma(A10)</button>
            <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo11',persona.cedula,persona.nombrescompletos]"
                    routerLinkActive="active">- Registro de Visitas(A11)</button>
          </div>
 <!--Tutor empresarial-->
          <div class="list-group" *ngSwitchCase="'TE'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
             .....hhh
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['',persona.cedula]"
                      routerLinkActive="active">-............</button>

              </mat-expansion-panel>
          </div>
 <!--Resposanle de PPP-->
          <div class="list-group"  *ngSwitchCase="'RPPP'" style="background: #455a64;color: white">
            <mat-expansion-panel style="background: #455a64;color: white" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header style="background: #455a64;color: white">
                <mat-panel-title style="color: white">
                 Ver Solicitudes de empresas
                </mat-panel-title>
              </mat-expansion-panel-header>
            <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo2convocatoria',persona.cedula]"
                          routerLinkActive="active">> Generar Convocatoria</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/verconvocatorias',persona.cedula]"
                      routerLinkActive="active">> Ver Convocatoria</button>
            </mat-expansion-panel>
            <mat-expansion-panel style="background: #455a64;color: white" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header style="background: #455a64;color: white">
                <mat-panel-title style="color: white">
                  Solicitudes de Estudiantes
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/versolicitudesestudiantes',persona.cedula]"
                      routerLinkActive="active">-Solicitudes de Estudiantes</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/respuestaalestudiante',persona.cedula]"
                      routerLinkActive="active">-Constancia de respuestas a estudiantes</button>
            </mat-expansion-panel>
            <mat-expansion-panel style="background: #455a64;color: white" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header style="background: #455a64;color: white">
                <mat-panel-title style="color: white">
                  Respuestas a Empresas
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo32y4respuestaaempresa',persona.cedula]"
                      routerLinkActive="active">> Enviar Respuesta a empresas</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo32y4listar',persona.cedula]"
                      routerLinkActive="active">> Ver Respuesta a empresas</button>
            </mat-expansion-panel>
<!-- ////-->
            <mat-expansion-panel style="background: #455a64;color: white" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header style="background: #455a64;color: white">
                <mat-panel-title style="color: white">
                 Tutores Academicos
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo6',persona.id,persona.cedula]"
                      routerLinkActive="active">> Registrar tutores Academicos</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo6asignaciontutores',persona.cedula]"
                      routerLinkActive="active">> Asignar Alumnos a Tutores Academicos</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo6listar',persona.cedula]"
                      routerLinkActive="active">> Ver Delegaciones</button>
            </mat-expansion-panel>
<!--            ///-->
            <mat-expansion-panel style="background: #455a64;color: white" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header style="background: #455a64;color: white">
                <mat-panel-title style="color: white">
                Actas de Reunion
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo7actareunion',persona.cedula]"
                      routerLinkActive="active">> Generar Acta</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo7listar',persona.cedula]"
                      routerLinkActive="active">> Ver Actas de Reunion</button>
            </mat-expansion-panel>

            <!--            ///-->
            <mat-expansion-panel style="background: #455a64;color: white" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header style="background: #455a64;color: white">
                <mat-panel-title style="color: white">
                  Notificacion de Cronograma a Tutor Academico
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo81',persona.cedula]"
                      routerLinkActive="active">> Nueva Notificacion</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo81listar',persona.cedula]"
                      routerLinkActive="active">> Ver Notificaciones</button>
            </mat-expansion-panel>


          </div>
<!--Estudiante-->
          <div class="list-group" *ngSwitchCase="'EST'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header style="background: #455a64;color: white">
                <mat-panel-title style="color: white">
                  Solicitud Estudiante
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo3',persona.cedula]"
                      routerLinkActive="active"> Lista de Solicitudes</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/estadossolicitud',persona.cedula]"
                      routerLinkActive="active"> Solicitudes Enviadas</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header style="background: #455a64;color: white">
                <mat-panel-title style="color: white">
                  Registro Diario de Actividades
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/gestionpracticasppp/anexo9',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active"> Nuevo Registro</button>
            </mat-expansion-panel>
          </div>


        </div>





      </ng-container>
    </mat-drawer>

    <div class="example-sidenav-content">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>

  </mat-drawer-container>
  <app-footer></app-footer>

  <ng-container *ngIf="issloading">
    <div class="bss-loader">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
</section>
