.mat-stepper-vertical {
  margin-top: 8px;
  background: #E4EFF3;
}
.mat-form-field {
  margin-top: 16px;
}
.example-card {
  max-width: 95%;
  position: center;
  margin: 0 auto;
  background: #ffffff;
}

.itemmateria {
  max-width: 95%;
  position: center;
  margin: 0 auto;
  background: #e5e5e5;
  height: 21px;
  font-size: 12px;
}
.example-full-widthtabla {
  width: 90%;
}

.example-full-width {
  width: 100%;
}

.example-card2 {
  max-width: 60%;
  position: center;
  margin: 0 auto;
  background: #ffffff;
}
.example-card3 {
  max-width: 60%;
  max-height: 100%;
  position: center;
  margin: 0 auto;
  background: #ffffff;
}
.example-header-image {

  background-size: cover;
}
.tabladedoscolumnas {
  margin: 0 auto;
  max-width: 80%;
  background: #eaeaea;
  align-content: center;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-viewport {
  height: 100px;
  width: 100%;
}
#contenedor{
  overflow: hidden;
}
#izquierda{
  text-align: start;
  height:50%;
  float:left;
  width:50%;
}
#derecha{
  height:50%;
  float:right;
  width:50%;
  text-align: start;
}

.example-item {
  margin-top: 2px;
  height: 50px;
  font-size: 14px;
}
.example-item:hover {
  color: #ffffff;
  cursor: pointer;
  background: #043e6e;
}
mat-list-option[aria-selected="true"] {
  background: #043e6e;
  color: rgb(255, 255, 255);
}
