<div *ngIf="issloading==false">
  <div align="center">
    <div style="width: 80%">
      <mat-card-title style="text-align: start">CONVOCATORIAS EMITIDAS</mat-card-title>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>BUSCAR POR: NOMBRE DE LA EMPRESA/ CICLO/ # CONVOCATORIA</mat-label>
        <input matInput  placeholder="FILTRAR" [formControl]="myControl">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="isexist">
    <div *ngFor="let anexo2 of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Convocatoria para la empresa: {{anexo2.nombreProyecto}}</mat-card-title>
          <mat-card-subtitle><strong>Emitida por: </strong>{{anexo2.nombreResponsable}}</mat-card-subtitle>

          <span class="example-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  [routerLink]="['/panelusuario/gestionpracticasppp/editarconvocatoria',anexo2.id]">
              <mat-icon color="primary">edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="eliminarAnexo2(anexo2)">
              <mat-icon color="warn">delete_forever</mat-icon>
              <span>Eliminar</span>
            </button>
            <button mat-menu-item (click)="convertFile(anexo2.documento)">
              <mat-icon color="warn">download</mat-icon>
              <span>Descargar documento</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-card-content>

          <table class="table-borderless">
            <th style="background: #455a64;color: white" colspan="2">Informacion</th>
            <th style="background: #455a64;color: white" colspan="2">Documento</th>
            <tr aria-colspan="4">


              <td colspan="2">
                <strong>Empresa: </strong>{{anexo2.nombreProyecto}}<br>
                <strong>Carrera: </strong>{{anexo2.carrera}}<br>
                <strong>Ciclo: </strong>{{anexo2.ciclo}}<br>
                <strong>Fecha de máxima recepción: </strong>{{anexo2.fechaMaxRecepcion | date:"longDate"}}<br>
                <strong>Número de Convocatoria: </strong>{{anexo2.numeroConvocatoria}}<br>
                <div align="center" style="font-size: 16px;color: white;background:  #455a64"><strong>Actividades a Desarrollar</strong></div>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Visualizar
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p *ngFor="let actividades of anexo2.actividades" >
                    <strong>{{actividades.descripcion}} </strong><br>
                </mat-expansion-panel>
              </td>


              <td colspan="2" style="margin-left: 15px">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Documento
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div align="center">
                    <button style="width: 50%;margin-top: 2px" mat-raised-button color="primary" (click)="getSafeUrl(anexo2.documento)"><mat-icon>preview</mat-icon>Visualizar Documento</button>
                    <button style="width: 50%;margin-top: 2px;background: #ffc200" mat-raised-button (click)="convertFile(anexo2.documento)"><mat-icon>file_download</mat-icon>Descargar</button>
                    <iframe [src]="safeUrl" style="width: 100%; height: 240px; border: none"></iframe>
                  </div>
                </mat-expansion-panel>
              </td>
            </tr>
          </table>


        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div *ngIf="isexist==false">
  <mat-card>
    <mat-card-title>No existen convocatorias creadas.</mat-card-title>
  </mat-card>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>
