<script src="../../../../app.module.ts"></script>
<div *ngIf="issloading==false">
  <mat-card>
    <mat-card-title>TUTORES</mat-card-title>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>BUSCAR POR: NOMBRES , CEDULA, CORREO</mat-label>
      <input matInput  placeholder="FILTRAR" [formControl]="myControl">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-card>
  <br>
  <div *ngIf="isexist">
    <div *ngFor="let e of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>

          <span class="example-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!--            ///falta el editar-->
            <button mat-menu-item [routerLink]="['/panelusuario/gestionpracticasppp/editarempresa',e.id]">
              <mat-icon color="primary">edit</mat-icon>
              <span>Modificar</span>
            </button>
            <button mat-menu-item (click)="eliminarEntidad(e)">
              <mat-icon color="warn">delete_forever</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-card-content>
          <table class="table-borderless">
            <th ></th>
            <th></th>
            <th style="background: #455a64;color: white">INFORMACION</th>
            <th></th>
            <th style="background: #455a64;color: white">TUTOR</th>
            <tr aria-colspan="5">
              <td colspan="1" style="background: #455a64;color: white">
                <mat-card-title style="padding: 5px">{{e.nombres}}{{e.apellidos}}</mat-card-title>
              </td>
              <td colspan="1">
                <p style="color: white">--------
                </p>
              </td>
              <td colspan="1">
                <strong>Cedula: </strong>{{e.cedula}}<br>
                <strong>E-mail: </strong>{{e.correo}}<br>
                <strong>Télefono de Contacto: </strong>{{e.estado}}<br>
              </td>
              <td colspan="1">
                <p style="color: white">--------
                </p>
              </td>
            </tr>
          </table>



        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>No existen aun tutores registrados</mat-card-title>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

  </div>
</ng-container>
