<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Prácticas Preprofesionales ISTA</title>
</head>
<body>
<mat-toolbar color="primary">
  <a mat-button routerLink="/inicio"><img mat-card-image src="assets/images/logooo.png" alt="50px" width="200px"></a>
  <div class="spacer"></div>
  <a mat-button routerLink="/institucion">INSTITUCIÓN</a>
  <a mat-button routerLink="/">ACCESO AL SISTEMA</a>
</mat-toolbar>
<br>


<div class="center">

  <p><strong>MISIÓN</strong></p>
  <p>El INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY es una institución de Educación Superior a nivel técnico y tecnológico, dedicada a formar profesionales comprometidos éticamente con la sociedad, desde una preparación basada en entornos de aprendizaje académicos y experienciales que contribuyan al desarrollo de la matriz productiva de la región y sustentada en principios de igualdad, inclusión, solidaridad, interculturalidad y comprensión de la diversidad.</p>
  <br>
  <p><strong>VISIÓN</strong></p>
  <p>Ser una institución de calidad, solidaria, inclusiva, intercultural y diversa, reconocida por su excelencia académica y sus aportes a la sociedad en el área de la investigación, innovación tecnológica y vinculación con la colectividad, promoviendo el desarrollo integral de la persona y el entorno, en busca de una sociedad justa y equitativa.</p>
</div>

<div class="center">

  <p><strong>INSTRUCTIVO:</strong></p>

  <iframe src="https://drive.google.com/file/d/1mCzps5Yt7LqTC8lvqBYwqk-sTn0_1ndr/preview" width="640" height="480" allow="autoplay"></iframe>







</div>






</body>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="center">
  <app-contactos></app-contactos>
</div>

<app-footer></app-footer>
</html>
