table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

@keyframes spinner {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
* {
  box-sizing: border-box;
}
td, th {
  width: 10%;
}
.example-card {
  width: 380px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid  #0c3255;
  border-inline: 5px solid  #0c3255;
  writing-mode: horizontal-tb;
}
.example-spacer {
  flex: 1 1 auto;
}
