<div *ngIf="issloading==false">
  <div align="center">
    <mat-card-title>Consultar Designaciones(A5) </mat-card-title>
    <mat-form-field appearance="legacy" style="width: 70%" >
      <mat-label style="color: #020000">Consultar</mat-label>
      <input matInput  placeholder="Buscar" [formControl]="myControl">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <br>
  <div  *ngIf="isexist">
    <div *ngFor="let anexo5 of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Tutor Empresarial: {{anexo5.nombreTutor}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>


          <table class="table-borderless">
            <th colspan="1"></th>
            <th colspan="1"></th>
            <th style="background: #455a64;color: white" colspan="1">Informacion</th>
            <th colspan="1"></th>
            <th style="background: #455a64;color: white" colspan="2">Documento</th>
            <tr aria-colspan="6">
              <td colspan="1" style="background: #455a64;color: white">
              </td>
              <td colspan="1">
                <p style="color: white">--------</p>
              </td>
              <td colspan="1">
                <strong>Carrera:</strong> {{anexo5.carrera}}<br>
                <strong>Nombres de Estudiante:</strong> {{anexo5.nombreEst}}<br>
                <strong>Cedula del Estudiante:</strong> {{anexo5.cedulaEst}}<br>

              </td>
              <td colspan="1">
                <p style="color: white">--------
                </p>
              </td>
              <td  colspan="2" style="margin-left: 20px;margin-bottom: 50px">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Documento
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div align="center">
                    <button style="width: 50%;margin-top: 2px" mat-raised-button color="primary" (click)="getSafeUrl(anexo5.documento)"><mat-icon>preview</mat-icon>Visualizar Documento</button>
                    <button style="width: 50%;margin-top: 2px;background: #ffc200" mat-raised-button (click)="convertFile(anexo5.documento)"><mat-icon>file_download</mat-icon>Descargar</button>
                    <iframe [src]="safeUrl" style="width: 100%; height: 250px; border: none"></iframe>
                  </div>
                </mat-expansion-panel>

              </td>
            </tr>
          </table>
        </mat-card-content>


      </mat-card>
    </div>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>No tiene deignaciones aun</mat-card-title>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </center>
  </div>
</ng-container>

