<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<mat-card class="example-card">
  <table>
    <tr aria-colspan="3">
      <td colspan="3">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Tutores Empresariales</mat-card-title>
          <mat-card-subtitle>INSTITUTO SUPERIOR TECNOLOGICO DEL AZUAY</mat-card-subtitle>
        </mat-card-header>

        <div align="center">
          <img style="height: 60vh; width: auto" mat-card-image src="assets/images/img.png">
        </div>

        <mat-card-content>
          <p style="text-align: justify">
            Las prácticas pre profesionales dentro del ISTA estan supervisadas por dos tutores, uno interno denominado Tutor Academico, y uno externo que es designado por la empresa receptora
            y cumple el rol de Tutor Empresarial.
            En esta ocacion usted ha sido designado como Tutor Empresarial, puede empezar revisando el siguiente documento con el proceso completo</p>
        </mat-card-content>
      </td>
    </tr>
    <tr aria-colspan="3">

      <td colspan="1">
        <button style="width: 100%" mat-raised-button color="primary"
        ><a href="../../../assets/docs/Instructivo y Formatos de Prácticas PreProfesionales Carreras Tradicionales.pdf">______Instructivo_______</a></button>
      </td>

    </tr>
  </table>
</mat-card>
</body>
</html>
