<div *ngIf="issloading==false">
  <mat-stepper orientation="vertical" [linear]="isLinear"#stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">

        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title>TITULO</mat-card-title>
            <mat-card-subtitle>..............</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            //////



          </mat-card-content>
          <div>
            <button mat-button matStepperNext color="primary">Siguiente</button>
          </div>
        </mat-card>
      </form>
    </mat-step>




    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title>TITULO</mat-card-title></mat-card-header>
          <mat-card-content>


            /////////////////////


          </mat-card-content>
          <div>
            <button mat-button matStepperPrevious color="warn">Atras</button>
            <button mat-button matStepperNext color="primary">Siguiente</button>
          </div>

        </mat-card>
      </form>
    </mat-step>





    <mat-step [stepControl]="thirdFormGroup" >
      <form [formGroup]="thirdFormGroup">
        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title> TITULO </mat-card-title></mat-card-header>
          <mat-card-content>


            //////////////



          </mat-card-content>
          <div>
            <button mat-button matStepperPrevious color="warn">Atras</button>
            <button mat-button matStepperNext color="primary">Siguiente</button>
          </div>

        </mat-card>
      </form>
    </mat-step>







    <mat-step [stepControl]="fourFormGroup" >
      <form [formGroup]="fourFormGroup">
        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title>   </mat-card-title>
            <mat-card-subtitle>   </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>


            /////////////////



          </mat-card-content>
          <div>
            <button mat-button matStepperPrevious color="warn">Atras</button>
            <button mat-raised-button color="primary">Guardar</button>
          </div>

        </mat-card>
      </form>
    </mat-step>
  </mat-stepper>
</div>

<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">

      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>
