.mat-stepper-vertical {
  margin-top: 8px;
}
.example-card {
  margin: 0 auto;
  max-width: 90%;
  border: 2px solid;
}
mat-form-field{
  width: 100%;
}

.example-header-image {
  background-size: cover;
}
