.mat-stepper-vertical {
  margin-top: 8px;
}
.example-card {
  margin: 0 auto;
  max-width: 80%;
  border: 2px solid;
  background: #eaeaea;
}
mat-form-field{
  width: 100%;
}
.matlistlista {
  margin: 0 auto;
  max-width: 60%;
  background: #eaeaea;
  align-content: center;
}
.tabladedoscolumnas {
  margin: 0 auto;
  max-width: 80%;
  background: #eaeaea;
  align-content: center;
}
.example-header-image {
  background-size: cover;
}

.example-full-width {
  width: 90%;
}
.example-full-width1 {
  width: 80%;
}
.example-full-width2 {
  width: 10%;
}

