<!doctype html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
<mat-toolbar color="primary">
  <img mat-card-image src="assets/images/logooo.png" alt="50px" width="200px">
  <div class="spacer"></div>
  <a mat-button routerLink="/">INSTITUCIÓN</a>
  <a mat-button routerLink="/">PRÁCTICAS</a>
  <a mat-button routerLink="/">CONTACTOS</a>
  <a mat-button routerLink="/">ACCESO AL SISTEMA</a>
</mat-toolbar>


</body>





<app-footer></app-footer>
</html>
