<footer>

  <table class="mat-tab-disabled">
    <tr aria-colspan="4">
      <td colspan="1"></td>

      <td colspan="1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.779138231304!2d-78.97768328532699!3d-2.879962397902297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd1781c898f975%3A0xfd4a76bc986f8990!2sInstituto%20Superior%20Tecnologico%20Del%20Azuay!5e0!3m2!1ses!2sec!4v1653949948470!5m2!1ses!2sec" width="400" height="150" style="border:0;padding-top: 5px; margin: 5px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </td>

      <td colspan="1">
        <h2>Contactanos</h2>
        <strong>
          Dirección: Octavio Chacón Moscoso 1-98 y Primera Transversal (Parque industrial)
          Teléfono: 07 2809 551 - 0995363076
          Correo Electrónico:info@tecazuay.edu.ec
        </strong>
      </td>
      <td colspan="1"></td>
    </tr>


  </table>



</footer>

