<div *ngIf="issloading==false" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div *ngIf="isexist">
      <div align="center">
        <mat-form-field appearance="outline" style="width: 70%">
          <mat-label>BUSCAR CONVOCATORIA: </mat-label>
          <input matInput   placeholder="FILTRAR" [formControl]="myControl">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    <br>
    <div *ngFor="let anexo4 of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Empresa: {{anexo4.nombreProyecto}}</mat-card-title>

          <span class="example-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="convertFile(anexo4.documento)">
              <mat-icon color="warn">download</mat-icon>
              <span>Descargar documento</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-card-content>
          <table>
            <tr>
              <td>
                <strong>Cedula: </strong>{{anexo4.cedulaEstudiante}}<br>
                <strong>Nombre: </strong>{{anexo4.nombreEstudiante}} <br>
                <strong>Horas:</strong>  {{anexo4.numeroHoras}}<br>
                <strong>Fecha de recepción:</strong>  {{anexo4.fechaRespuesta | date:"longDate"}}<br>

              </td>
              <td style="padding-left: 50px">
                <button mat-flat-button style="width: 100%" color="primary" (click)="firmarAceptacion(anexo4)">Subir Documento de Constancia</button>
              </td>
            </tr>

          </table>
           </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>No existen Aceptaciones</mat-card-title>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>

