<div *ngIf="issloading==false">
  <div *ngIf="isexist">
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">

          <ng-template matStepLabel><div align="center" style="font-size: large">
            <p class="title">Convocatorias en Vigencia</p>
          </div></ng-template>
          <mat-card class="example-card">
            <div align="center">
              <mat-form-field appearance="legacy" style="width: 70%" >
                <mat-label style="color: #020000">Buscar</mat-label>
                <input class="im" matInput  placeholder="BUSCAR POR: NOMBRE EMPRESA/ FECHA DE SOLICITUD" [formControl]="myControlconvocatoria">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content>
              <cdk-virtual-scroll-viewport style="height: 180px" appendOnly itemSize="30" class="example-viewport">
                <mat-selection-list  #shoes [multiple]="false" (selectionChange)="selectionProyecto($event)" formControlName="firstCtrl" required>
                  <mat-list-option  *ngFor="let solicitud of filteredOptionsconvocatoria | async" [value]="solicitud"  class="example-item">
                    <div><strong>Solicitud de la Empresa:</strong>  {{solicitud.nombre}}  <strong>> Emitidad el:</strong>  {{solicitud.fechaat}} </div>
                  </mat-list-option>
                </mat-selection-list>
              </cdk-virtual-scroll-viewport>
              <br>
              <p>
                <strong>Solicitud seleccionada: </strong>{{solicitudproyectoselect.nombre}}
              </p>
              <mat-divider></mat-divider>
              <br>
              <div>
                <button style="width: 100%" mat-raised-button matStepperNext color="primary">	<mat-icon>expand_more</mat-icon></button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup" >
          <ng-template matStepLabel><div align="center" style="font-size: large">
            <p class="title">Tutores Academicos</p>
          </div></ng-template>
          <mat-card class="example-card">

            <mat-divider></mat-divider>
            <br>
            <mat-card-content>
              <div id ="contenedor">
                <div id ="cabecera">

                <div id ="izquierda">
                  <mat-form-field appearance="outline" style="width: 90%">
                    <mat-label>Buscar</mat-label>
                    <input matInput  placeholder="FILTRAR" [formControl]="myControl1">
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                  <br>

                  <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
                    <div *ngFor="let docente of filteredOptionsapoyo | async">
                      <mat-card style="margin-top: 1px" class="itemmateria">
                            {{docente.cedula}} | {{docente.nombres_completo}}
                          <button mat-button color="primary" (click)="addApoyo(docente)">Agregar
                            <mat-icon matBadgeColor="warn">keyboard_arrow_right</mat-icon>
                          </button>
                      </mat-card>
                    </div>
                  </cdk-virtual-scroll-viewport>
                  <br>
                </div>
                <div id ="derecha">
                  <strong>Tutores Academicos Seleccionados:</strong>
                  <br>
                  <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
                    <div *ngFor="let docente of docentesselectApoyo">

                      <mat-card style="margin-top: 1px" class="itemmateria">
                            {{docente.cedula}} > {{docente.nombres_completo}}

                          <span class="example-spacer"></span>
                          <button mat-button color="accent" (click)="removeApoyo(docente)">
                            <mat-icon matBadgeColor="warn">keyboard_arrow_left</mat-icon>
                            Quitar
                          </button>
                      </mat-card>
                    </div>
                  </cdk-virtual-scroll-viewport>

                </div>
              </div>
              </div>
            </mat-card-content>
            <div style="text-align: center">
              <button style="width: 45%" mat-raised-button matStepperPrevious color="accent">	<mat-icon>expand_less</mat-icon></button>
              <button style="width: 45%" mat-raised-button matStepperNext color="primary">	<mat-icon>expand_more</mat-icon></button>
            </div>
          </mat-card>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourFormGroup" >
        <form [formGroup]="fourFormGroup">
          <ng-template matStepLabel><div align="center" style="font-size: large">
            <p class="title">Informacion y Tutores Academicos Seleccionados</p>
          </div></ng-template>
          <mat-card class="example-card">
            <mat-card-content>


              <strong>Nombre de la empresa:</strong> {{proyecto.nombre}}  <br>
              <strong>Fecha de Inicio:</strong> {{proyecto.fechaInicio | date:"longDate"}}<br>
              <strong>Fecha de Finalización: </strong>{{proyecto.fechaFin | date:"longDate"}}<br>
              <mat-divider></mat-divider>
              <br>
              <div align="center">
                <strong style="font-size: 18px;text-align: center">TUTORES ACADEMICOS</strong>
              </div>

              <div *ngFor="let anexo of anexo1">
                <mat-card class="example-panel">
                  <div id ="contenedor1">
                    <div id ="izquierda1">
                      <strong>Cédula:</strong> {{anexo.cedulaDelegado}}<br>
                      <strong> Nombre:</strong> {{anexo.nombreDelegado}}<br>
                    </div>
                  </div>
                </mat-card>
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <br>
            <div style="text-align: end">
              <button style="width: 45%" mat-raised-button matStepperPrevious color="accent">	<mat-icon>expand_less</mat-icon></button>
              <button style="width: 45%" mat-raised-button color="primary" (click)="agregartutoresacademicos(proyecto,anexo1)">	<mat-icon>expand_more</mat-icon></button>

               </div>
          </mat-card>
        </form>
      </mat-step>

    </mat-stepper>
  </div>
  <div *ngIf="isexist==false">
    <mat-card style="margin: 0 auto; width: 600px;">
      <mat-card-header style="text-align: start">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Proyecto de vinculación necesita a un Responsable de Prácticas Pre Profesionales</mat-card-title>
        <mat-card-subtitle>Responsable actual con el cargo</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p> NO EXISTE NINGÚN RESPONSABLE ACTUALMENTE</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>
