<div *ngIf="issloading==false">

  <div align="center">
    <mat-card-title>Listado de Evaluaciones (A12)</mat-card-title>
    <mat-form-field appearance="outline" style="width: 80%">
      <mat-label>BUSCAR </mat-label>
      <input matInput   placeholder="FILTRAR" [formControl]="myControl">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>


  <br>
  <div  *ngIf="isexist">
    <div *ngFor="let anexo9 of filteredOptions | async">
      <mat-card class="example-card">

        <mat-card-content>
          <table>
            <tr aria-colspan="3">
              <td colspan="2">
                <strong>Carrera:</strong>  {{anexo9.carrera}}<br>
                <strong>Tutor Empresarial:</strong>  {{anexo9.nombretutoremp}}<br>
                <strong>Estudiante:</strong>   {{anexo9.nombresEstudiante}}<br>
                <strong>Horas Totales:</strong>  {{anexo9.totalHoras}}<br>
                <div style="font-size: large;background: #00b1ff"><strong>Nota Otorgada:</strong>  {{anexo9.tutorempPuntaje}}</div>

              </td>
              <td  colspan="2" style="margin-left: 20px;margin-bottom: 50px">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Documento
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div align="center">
                    <button style="width: 50%;margin-top: 2px" mat-raised-button color="primary" (click)="getSafeUrl(anexo9.documento)"><mat-icon>preview</mat-icon>Visualizar Documento</button>
                    <button style="width: 50%;margin-top: 2px;background: #ffc200" mat-raised-button (click)="convertFile(anexo9.documento)"><mat-icon>file_download</mat-icon>Descargar</button>
                    <iframe [src]="safeUrl" style="width: 100%; height: 250px; border: none"></iframe>
                  </div>
                </mat-expansion-panel>

              </td>
            </tr>
          </table>


          <mat-divider></mat-divider>

        </mat-card-content>


      </mat-card>
    </div>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>Aun no se receptan Anexos(9)</mat-card-title>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>
