<div *ngIf="issloading==false">
  <div *ngIf="isexist">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="CONVOCATORIAS A TIEMPO">
        <br>
        <div *ngFor="let anexo2 of anexo2receptables">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{anexo2.nombreProyecto}}</mat-card-title>
              <span class="example-spacer"></span>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="convertFile(anexo2.documento)">
                  <mat-icon color="warn">download</mat-icon>
                  <span>Descargar documento</span>
                </button>
              </mat-menu>
            </mat-card-header>
            <mat-card-content>
              <p>Carrera: {{anexo2.carrera}}</p>
              <p>Fecha de máxima recepción: {{anexo2.fechaMaxRecepcion | date:"longDate"}}</p>
              <p>Número de Convocatoria: {{anexo2.numeroConvocatoria}}</p>
              <p>Empresa: {{anexo2.empresa}}</p>
              <button mat-flat-button style="width: 100%" (click)="postular(anexo2)" color="primary">POSTULAR AQUÍ</button>
              <p></p>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Actividades del Proyecto
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p *ngFor="let actividades of anexo2.actividades" > <mat-divider></mat-divider>
                  <br>{{actividades.descripcion}} <br>

              </mat-expansion-panel>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="CONVOCATORIAS FUERA DE TIEMPO">
        <br>
        <div *ngFor="let anexo2 of anexo2noanexo2receptables">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{anexo2.nombreProyecto}}</mat-card-title>
              <span class="example-spacer"></span>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="convertFile(anexo2.documento)">
                  <mat-icon color="warn">download</mat-icon>
                  <span>Descargar documento</span>
                </button>
              </mat-menu>
            </mat-card-header>
            <mat-card-content>
              <p>Carrera: {{anexo2.carrera}}</p>
              <p>Fecha de máxima recepción: {{anexo2.fechaMaxRecepcion | date:"longDate"}}</p>
              <p>Número de Convocatoria: {{anexo2.numeroConvocatoria}}</p>
              <p>Empresa: {{anexo2.empresa}}</p>
              <button mat-flat-button style="width: 100%" color="primary" [disabled]="true">POSTULAR</button>
              <br>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Actividades del Proyecto
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p *ngFor="let actividades of anexo2.actividades" >
                  <mat-divider></mat-divider>
                  <br>
                  {{actividades.descripcion}} <br>


              </mat-expansion-panel>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div *ngIf="isexist==false">
  <mat-card>
    <mat-card-title>NO EXISTEN CONVOCATORIAS.</mat-card-title>
  </mat-card>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>

<!--<div *ngIf="issloading==false">-->
<!--  <mat-stepper orientation="vertical" [linear]="isLinear"#stepper>-->
<!--    <mat-step [stepControl]="firstFormGroup">-->
<!--      <form [formGroup]="firstFormGroup">-->

<!--        <mat-card class="example-card">-->
<!--          <div *ngFor="let anexo2 of anexo2receptables">-->
<!--          <mat-card-header>-->
<!--            <mat-card-title>{{anexo2.nombreProyecto}}</mat-card-title>-->
<!--            <span class="example-spacer"></span>-->
<!--            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--              <mat-icon>more_vert</mat-icon>-->
<!--            </button>-->
<!--            <mat-menu #menu="matMenu">-->
<!--              <button mat-menu-item (click)="convertFile(anexo2.documento)">-->
<!--                <mat-icon color="warn">download</mat-icon>-->
<!--                <span>Descargar documento</span>-->
<!--              </button>-->
<!--            </mat-menu>-->
<!--          </mat-card-header>-->
<!--          </div>-->
<!--          <mat-card-content>-->

<!--            //////-->



<!--          </mat-card-content>-->
<!--          <div>-->
<!--            <button mat-button matStepperNext color="primary">Siguiente</button>-->
<!--          </div>-->
<!--        </mat-card>-->
<!--      </form>-->
<!--    </mat-step>-->




<!--    <mat-step [stepControl]="secondFormGroup">-->
<!--      <form [formGroup]="secondFormGroup">-->
<!--        <mat-card class="example-card">-->
<!--          <mat-card-header>-->

<!--            <mat-card-title>TITULO</mat-card-title></mat-card-header>-->
<!--          <mat-card-content>-->


<!--            /////////////////////-->


<!--          </mat-card-content>-->
<!--          <div>-->
<!--            <button mat-button matStepperPrevious color="warn">Atras</button>-->
<!--            <button mat-button matStepperNext color="primary">Siguiente</button>-->
<!--          </div>-->

<!--        </mat-card>-->
<!--      </form>-->
<!--    </mat-step>-->





<!--    <mat-step [stepControl]="thirdFormGroup" >-->
<!--      <form [formGroup]="thirdFormGroup">-->
<!--        <mat-card class="example-card">-->
<!--          <mat-card-header>-->

<!--            <mat-card-title> TITULO </mat-card-title></mat-card-header>-->
<!--          <mat-card-content>-->


<!--            //////////////-->



<!--          </mat-card-content>-->
<!--          <div>-->
<!--            <button mat-button matStepperPrevious color="warn">Atras</button>-->
<!--            <button mat-button matStepperNext color="primary">Siguiente</button>-->
<!--          </div>-->

<!--        </mat-card>-->
<!--      </form>-->
<!--    </mat-step>-->







<!--    <mat-step [stepControl]="fourFormGroup" >-->
<!--      <form [formGroup]="fourFormGroup">-->
<!--        <mat-card class="example-card">-->
<!--          <mat-card-header>-->

<!--            <mat-card-title>   </mat-card-title>-->
<!--            <mat-card-subtitle>   </mat-card-subtitle>-->
<!--          </mat-card-header>-->
<!--          <mat-card-content>-->


<!--            /////////////////-->



<!--          </mat-card-content>-->
<!--          <div>-->
<!--            <button mat-button matStepperPrevious color="warn">Atras</button>-->
<!--            <button mat-raised-button color="primary">Guardar</button>-->
<!--          </div>-->

<!--        </mat-card>-->
<!--      </form>-->
<!--    </mat-step>-->
<!--  </mat-stepper>-->
<!--</div>-->

<!--<ng-container *ngIf="issloading">-->
<!--  <div class="bss-loader" style="margin: auto;">-->

<!--    <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
<!--  </div>-->
<!--</ng-container>-->

<!--<div *ngIf="issloading==false">-->
<!--  <div *ngIf="isexist">-->
<!--    <mat-tab-group mat-align-tabs="center">-->
<!--      <mat-tab label="EN PROCESO">-->
<!--        <br>-->
<!--        <div *ngFor="let anexo3 of anexo3enproceso">-->
<!--          <mat-card class="example-card">-->
<!--            <mat-card-header>-->
<!--              <mat-card-title>Proyecto: {{anexo3.nombreproyecto}}</mat-card-title>-->
<!--              <mat-card-subtitle>Cedula: {{anexo3.cedula}}</mat-card-subtitle>-->
<!--              <mat-card-subtitle>Nombre: {{anexo3.nombresestudiante}} {{anexo3.apellidosestudiante}}</mat-card-subtitle>-->
<!--              <span class="example-spacer"></span>-->
<!--              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--                <mat-icon>more_vert</mat-icon>-->
<!--              </button>-->
<!--              <mat-menu #menu="matMenu">-->
<!--                <button mat-menu-item (click)="convertFile(anexo3.documento)">-->
<!--                  <mat-icon color="warn">download</mat-icon>-->
<!--                  <span>Descargar documento</span>-->
<!--                </button>-->
<!--              </mat-menu>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--              <p>Carrera: {{anexo3.nombrecarrera}}</p>-->
<!--              <p>Fecha de envio: {{anexo3.fecha_solicitud | date:"longDate"}}</p>-->

<!--              <p>Resposable: {{anexo3.nombre_responsable}}</p>-->

<!--            </mat-card-content>-->
<!--          </mat-card>-->
<!--        </div>-->
<!--      </mat-tab>-->
<!--      <mat-tab label="ACEPTADAS">-->
<!--        <br>-->
<!--        <div *ngFor="let anexo3 of anexo3aceptados">-->
<!--          <mat-card class="example-card">-->
<!--            <mat-card-header>-->
<!--              <mat-card-title>Proyecto: {{anexo3.nombreproyecto}}</mat-card-title>-->
<!--              <mat-card-subtitle>Cedula: {{anexo3.cedula}}</mat-card-subtitle>-->
<!--              <mat-card-subtitle>Nombre: {{anexo3.nombresestudiante}} {{anexo3.apellidosestudiante}}</mat-card-subtitle>-->
<!--              <span class="example-spacer"></span>-->
<!--              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--                <mat-icon>more_vert</mat-icon>-->
<!--              </button>-->
<!--              <mat-menu #menu="matMenu">-->
<!--                <button mat-menu-item (click)="convertFile(anexo3.documento)">-->
<!--                  <mat-icon color="warn">download</mat-icon>-->
<!--                  <span>Descargar documento</span>-->
<!--                </button>-->
<!--              </mat-menu>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--              <p>Carrera: {{anexo3.nombrecarrera}}</p>-->
<!--              <p>Fecha de envio: {{anexo3.fecha_solicitud | date:"longDate"}}</p>-->
<!--              <p>Ciclo: {{anexo3.ciclo}}</p>-->
<!--              <p>Resposable: {{anexo3.nombre_responsable}}</p>-->
<!--              <p>Razón: {{anexo3.razon}}</p>-->
<!--              <button mat-flat-button style="width: 100%" color="primary" [routerLink]="['/panelusuario/proyectovinculacion/firmarportulaciones',cedula]">FINALIZAR PROCESOS</button>-->
<!--            </mat-card-content>-->
<!--          </mat-card>-->
<!--        </div>-->
<!--      </mat-tab>-->
<!--      <mat-tab label="DENEGADAS">-->
<!--        <br>-->
<!--        <div *ngFor="let anexo3 of anexo3denagados">-->
<!--          <mat-card class="example-card">-->
<!--            <mat-card-header>-->
<!--              <mat-card-title>Proyecto: {{anexo3.nombreproyecto}}</mat-card-title>-->
<!--              <mat-card-subtitle>Cedula: {{anexo3.cedula}}</mat-card-subtitle>-->
<!--              <mat-card-subtitle>Nombre: {{anexo3.nombresestudiante}} {{anexo3.apellidosestudiante}}</mat-card-subtitle>-->
<!--              <span class="example-spacer"></span>-->
<!--              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--                <mat-icon>more_vert</mat-icon>-->
<!--              </button>-->
<!--              <mat-menu #menu="matMenu">-->
<!--                <button mat-menu-item (click)="convertFile(anexo3.documento)">-->
<!--                  <mat-icon color="warn">download</mat-icon>-->
<!--                  <span>Descargar documento</span>-->
<!--                </button>-->
<!--              </mat-menu>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--              <p>Carrera: {{anexo3.nombrecarrera}}</p>-->
<!--              <p>Fecha de envio: {{anexo3.fecha_solicitud | date:"longDate"}}</p>-->
<!--              <p>Ciclo: {{anexo3.ciclo}}</p>-->
<!--              <p>Resposable: {{anexo3.nombre_responsable}}</p>-->
<!--              <p>Razón: {{anexo3.razon}}</p>-->
<!--            </mat-card-content>-->
<!--          </mat-card>-->
<!--        </div>-->
<!--      </mat-tab>-->
<!--    </mat-tab-group>-->
<!--  </div>-->
<!--  <div *ngIf="isexist==false">-->
<!--    <mat-card>-->
<!--      <mat-card-title>NO EXISTEN CONVOCATORIA</mat-card-title>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->
<!--<ng-container *ngIf="issloading">-->
<!--  <div class="bss-loader" style="margin: auto;">-->
<!--    <center>-->
<!--      <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
<!--    </center>-->
<!--  </div>-->
<!--</ng-container>-->
