<div *ngIf="issloading==false">
  <mat-stepper orientation="vertical" [linear]="isLinear"#stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">

        <mat-card class="example-card">

          <mat-card-content>
            <br>
            <div align="center">
              <mat-form-field appearance="outline" style="width: 80%">
                <mat-label>Seleccione la empresa en donde esta desarrollando sus practicas Preprofesionales:</mat-label>
                <mat-select  (selectionChange)="selectOpcion($event)" style="width: 100%" name="select" required formControlName="proyecto">
                  <mat-option *ngFor="let item of solicitudproyectos" [value]="item.id">{{item.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <br>
            <br>
              <strong>Datos Informativos:</strong>
              <br>
              <strong>Empresa: </strong> {{empresa.nombre}}<br>
              <strong>Nombre del Estudiante Participante:  </strong> {{nombre}}<br>
              <strong>Numero de Cédula:  </strong> {{cedula}}

          </mat-card-content>
          <div style="text-align: center">
               <button style="width: 100%" mat-raised-button matStepperNext color="primary">	<mat-icon>expand_more</mat-icon></button>
          </div>
        </mat-card>
      </form>
    </mat-step>



    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel><div align="center" style="font-size: large">
          <p class="title">Registro de Asistencia</p>
        </div></ng-template>
        <mat-card class="example-card"  style="max-width: 100%">

          <mat-divider></mat-divider>
          <mat-card-content>
            <mat-grid-list cols="8" rowHeight="4:3">
              <mat-grid-tile colspan="8">
                <button mat-raised-button color="primary" style="width: 50%" (click)="onAddRow()" *ngIf="secondFormGroup.get('rows')">Agregar Filas<mat-icon>expand_more</mat-icon></button>
                <button style="width: 50%" mat-raised-button matStepperNext color="primary">	<mat-icon>expand_more</mat-icon></button>
              </mat-grid-tile>

              <mat-grid-tile colspan="1">Fecha
              </mat-grid-tile>

              <mat-grid-tile colspan="1">Hora LLegada
              </mat-grid-tile>

              <mat-grid-tile colspan="1">Hora Salida
              </mat-grid-tile>

              <mat-grid-tile colspan="3">Actividades a Realizar
              </mat-grid-tile>

              <mat-grid-tile colspan="1">Horas
              </mat-grid-tile>

              <mat-grid-tile colspan="1">Opcion
              </mat-grid-tile>
              <br>
              <div *ngFor="let row of secondFormGroup.get('rows')?.controls;let index = index;">

                <mat-grid-tile colspan="1">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha:</mat-label>
                    <input matInput [matDatepicker]="picker" [formControl]="row.get('fecha')" [min]="solicitudproyecto.fechaInicio" [max]="solicitudproyecto.fechaFin" placeholder="Fecha:" [required]>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1" class="example-full-width2">
                  <mat-form-field appearance="outline">
                    <mat-label>Lugar</mat-label>
                    <input matInput type="text"   [formControl]="row.get('horallegada')"  placeholder="Hora llegada" [required]>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1" class="example-full-width2">
                  <mat-form-field appearance="outline">
                    <mat-label>Lugar</mat-label>
                    <input matInput type="text"   [formControl]="row.get('horasalida')"  placeholder="Hora salida" [required]>
                  </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile colspan="3">
                <mat-form-field appearance="outline">
                  <mat-label>Descripción de Actividades Realizadas:</mat-label>
                  <textarea matInput [formControl]="row.get('descripcionActividad')"  placeholder="Descripción de Actividades:" [required]>
               </textarea>
                </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1">
                  <mat-form-field appearance="outline">
                    <mat-label>Numero de Horas</mat-label>
                    <input matInput type="number" min="0" max="15" style="font-size: 18px;" class="form-control" (ngModelChange)="sumar()" (keyup)="sumar()"  class="impnumber"  [formControl]="row.get('numHoras')"  placeholder="Horas" [required]>
                  </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile colspan="1">
                  <button mat-raised-button color="warn" (click)="onRemoveRow(index)" (click)="eliminarActividad(row.value)" [disabled]=""><mat-icon>keyboard_return</mat-icon></button>
                </mat-grid-tile>

              </div>
              <mat-grid-tile colspan="6">
                <strong style="font-size:large">TOTAL DE HORAS:</strong> <strong style="font-size:large"> {{sum}}</strong><br>
              </mat-grid-tile>
            </mat-grid-list>



          </mat-card-content>


          <div style="text-align: center">
            <button style="width: 45%" mat-raised-button matStepperPrevious color="accent">	<mat-icon>expand_less</mat-icon></button>
            <button  style="align-self: center;" mat-raised-button color="accent"  (click)="guardar()">Guardar Registro</button>

          </div>

        </mat-card>

      </form>
    </mat-step>





    <mat-step [stepControl]="fourFormGroup" >
      <form [formGroup]="fourFormGroup">
        <mat-card class="example-card">

          <br><br>
          <h4> SI YA CULMINO EL REGISTRO DE TODAS SUS ACTIVIDADES, DESCARGUE EL ARCHIVO Y SUBALO.</h4>
          <div>
            <button mat-raised-button color="primary" (click)="ggenerarDocumento9()">Obtener Anexo</button>
            <mat-form-field appearance="outline" style="width: 75%; margin-left: 10px" >
              <ngx-mat-file-input accept="application/pdf"  (change)="subirDocumento9($event.target.files)"  formControlName="docx" placeholder="Subir Documento"></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div>
          <mat-card-content>
            <div>
              <button mat-flat-button matStepperPrevious color="primary">Return</button>
              <button mat-flat-button matStepperNext color="warn">Next</button>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-step>


    <mat-step [stepControl]="fourFormGroup" >
      <form [formGroup]="fourFormGroup">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY
            </mat-card-title>
            <mat-card-subtitle style="font-size: large">ESTA SEGURO DE SUBIR SUS ACTIVIDADES REGISTRADAS HASTA EL MOMENTO</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <br>
            <button mat-flat-button matStepperPrevious color="warn">Return</button>
            <button mat-flat-button color="primary" (click)="actulizar()">Confirm</button>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-step>
  </mat-stepper>
</div>

<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">

    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>
