
<div *ngIf="issloading==false">
  <mat-stepper orientation="vertical" [linear]="isLinear"#stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY</mat-card-title>
            <mat-card-subtitle>Sistema de Practicas Pre Profesionales</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>SELECCIONE UN PROYECTO:</mat-label>
              <mat-select  (selectionChange)="selectOpcion($event)" style="width: 100%" name="select" required formControlName="proyecto">
                <mat-option *ngFor="let item of solicitudproyectos" [value]="item.id">{{item.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <br>
            <mat-card-title>
              <strong>Datos Informativos:</strong>
              <br>
              <br>
            </mat-card-title>
            <mat-card-subtitle style="font-size: x-large">
              <strong>Empresa: </strong> {{empresa.nombre}}
            </mat-card-subtitle>
            <mat-card-subtitle style="font-size: x-large">
              <strong>Nombre del Estudiante:  </strong> {{nombre}}
            </mat-card-subtitle>
            <mat-card-subtitle style="font-size: x-large">
              <strong>Nro. de Cédula:  </strong> {{cedula}}
            </mat-card-subtitle>

          </mat-card-content>
          <div style="text-align: center">
            <button mat-flat-button matStepperNext color="primary">Next</button>
          </div>
        </mat-card>
      </form>
    </mat-step>



    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title>INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY</mat-card-title></mat-card-header>

          <mat-card-content>
            <mat-grid-list cols="4" rowHeight="100" [formGroup]="secondFormGroup">

              <mat-grid-tile colspan="1">
                <mat-label  class="example-full-widthf" appearance="outline"><b>FECHA</b></mat-label>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-label  class="example-full-width" appearance="outline"><b> DESCRIPCIÓN DE ACTICIDADES</b></mat-label>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" >
                <mat-label  class="example-full-widthl" appearance="outline"><b>LUGAR</b></mat-label>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-label  class="example-full-width2" appearance="outline"> <b>HORAS</b></mat-label>
              </mat-grid-tile>
              <mat-grid-tile colspan="4" *ngFor="let row of secondFormGroup.get('rows')?.controls;let index = index;">
                <mat-form-field appearance="outline"  style="margin-left: 2px; width: 120px">
                  <mat-label>Fecha:</mat-label>
                  <input matInput [matDatepicker]="picker" [formControl]="row.get('fecha')" [min]="solicitudproyecto.fechaInicio" [max]="solicitudproyecto.fechaFin" placeholder="Fecha:" [required]>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 10px">
                  <mat-label>Descripción de Actividades:</mat-label>
                  <textarea matInput [formControl]="row.get('descripcionActividad')"  placeholder="Descripción de Actividades:" [required]>
               </textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 10px">
                  <mat-label>Lugar</mat-label>
                  <input matInput type="text"   [formControl]="row.get('lugar')"  placeholder="Lugar" [required]>
                </mat-form-field>

                <mat-form-field class="example-full-width2"  appearance="fill" style="margin-left: 10px">
                  <mat-label>Numero de Horas</mat-label>
                  <input matInput type="number" min="0" max="15" style="font-size: 18px;" class="form-control" (ngModelChange)="sumar()" (keyup)="sumar()"  class="impnumber"  [formControl]="row.get('numHoras')"  placeholder="Horas" [required]>
                </mat-form-field>

                <span class="example-spacer"></span>
                <button mat-flat-button color="warn" style="margin-left: 50px" (click)="onRemoveRow(index)" (click)="eliminarActividad(row.value)" [disabled]="">Borrar</button>


              </mat-grid-tile>

            </mat-grid-list>

            <strong style="font-size:large">TOTAL DE HORAS:</strong> <strong style="font-size:large"> {{sum}}</strong><br>
            <br>
            <div>
              <button  style="align-self: center;" mat-raised-button color="accent"  (click)="guardar()">Guardar Registro</button>
              <br>
              <button mat-flat-button color="primary" (click)="onAddRow()" *ngIf="secondFormGroup.get('rows')">Agregar Actividad</button>
            </div>
          </mat-card-content>
          <br>
          <div style="text-align: center">
            <button mat-flat-button matStepperPrevious color="warn" style="margin-right: 5px">Return</button>
            <button mat-flat-button matStepperNext color="primary">Next</button>
          </div>
        </mat-card>
      </form>
    </mat-step>





    <mat-step [stepControl]="thirdFormGroup" >
      <form [formGroup]="thirdFormGroup">
        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title>INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY </mat-card-title>
          <mat-card-subtitle>
            CORDINACIÓN DE VINCULACIÓN CON LA SOCIEDAD<br>
            REGISTRO DIARIO DE ACTIVIDADES ESTUDIANTES (Anexo 9)
          </mat-card-subtitle>
          </mat-card-header>
          <br><br>
          <h4> SI YA CULMINO EL REGISTRO DE TODAS SUS ACTIVIDADES, DESCARGUE EL ARCHIVO Y SUBALO EN FORMATO PDF.</h4>
          <div>
            <button mat-raised-button color="primary" (click)="ggenerarDocumento9()">Obtener Anexo</button>
            <mat-form-field appearance="outline" style="width: 75%; margin-left: 10px" >
              <ngx-mat-file-input accept="application/pdf"  (change)="subirDocumento9($event.target.files)"  formControlName="docx" placeholder="Subir Documento"></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div>
          <mat-card-content>
            <div>
              <button mat-flat-button matStepperPrevious color="primary">Return</button>
              <button mat-flat-button matStepperNext color="warn">Next</button>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-step>


    <mat-step [stepControl]="fourFormGroup" >
      <form [formGroup]="fourFormGroup">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY
            </mat-card-title>
            <mat-card-subtitle style="font-size: large">ESTA SEGURO DE SUBIR SUS ACTIVIDADES REGISTRADAS HASTA EL MOMENTO</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <br>
            <button mat-flat-button matStepperPrevious color="warn">Return</button>
            <button mat-flat-button color="primary" (click)="actulizar()">Confirm</button>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-step>
  </mat-stepper>
</div>

<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">

    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>

